<head>
  {%- if site.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics_id}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '{{site.analytics_id}}');
  </script>
  {%- endif -%}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: page.excerpt | default: site.description | strip_html  }}">
  <meta name="og:title" content="{{ page.title }} - {{ site.title }}">
  <meta name="og:description" content="{{ page.description | default: page.excerpt | default: site.description | strip_html }}">
  <meta name="og:image" content="{{ site.url }}{{ page.image | default: site.logo | default: '/assets/image/logo.png' }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter}}">
  <meta name="twitter:title" content="{{ site.title }} - {{ page.title }}">
  <meta name="twitter:description" content="{{ page.description | default: page.excerpt | default: site.description | strip_html }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image | default: site.logo | default: '/assets/image/logo.png' }}">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="icon" type="image/png" href="/assets/logo.png">
</head>
