<nav class="bg-{{page.theme | default: 'brand'}}-primary p-3">
    <div class="container mx-auto">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about.html" class="text-white">About</a></li>
            <li><a href="/world.html" class="text-white">World</a></li> 
            <li><a href="/religions.html" class="text-white">Religion</a></li>
            <li><a href="/characters.html" class="text-white">Characters</a></li>
            <li><a href="/stories.html" class="text-white">Stories</a></li>
        </ul>
    </div>
</nav>
