---
layout: default
---
<div class="my-5">
    <div class="p-3 rounded-lg bg-white">
        <h1 class="text-2xl font-bold text-center text-brand"> {{ page.title }} </h1>
        <div class="pt-3 min-h-[26rem] grid grid-cols-4">
            <div class="col-span-3">
                <div class="content">{{ content }}</div>
            </div>
            <div class="p-3">
                {% if page.item_image  %}
                    {% include image.html url=page.item_image caption=page.title class="rounded-lg max-w-full" %}               
                {% endif %}
                <h2 class="text-xl font-bold">Core Details</h2>
                <ul>
                    {% if page.details.diety %}
                        {% assign item = site.documents | where: "path", page.details.diety | first %}
                        <li><span class="font-bold">Diety:</span> <a class="underline" href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                    {% if page.details.head %}
                        {% assign item = site.characters | where: "path", page.details.head | first %}
                        <li><span class="font-bold">Head:</span> <a class="underline" href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                    {% if page.details.headquarters %}
                        {% assign item = site.locations | where: "path", page.details.headquarters | first %}
                        <li><span class="font-bold">Headquarters:</span> <a class="underline" href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="faithful">
            {%- assign characters = site.characters | where: "details.core.religion", page.path  -%}
            {% include list-small.html items=characters %}
        </div>
    </div>
</div>
