{%- case include.status -%}
{%- when "Divorced" -%}
    {%- if include.gender == "Male" -%}
    Ex-Husband
    {%- elsif  include.gender == "Female" -%}
    Ex-Wife
    {%- else -%}
    Former Spouse
    {%- endif -%}
{%- when "Dating" -%}
    {%- if include.gender == "Male" -%}
    Boyfriend
    {%- elsif  include.gender == "Female" -%}
    Girlfriend
    {%- else -%}
    Partner
    {%- endif -%}
{%- when "Married" -%}
    {%- if include.gender == "Male" -%}
    Husband
    {%- elsif  include.gender == "Female" -%}
    Wife
    {%- else -%}
    Spouse
    {%- endif -%}
{%- when "Widowed" -%}
    {%- if include.gender == "Male" -%}
    Husband
    {%- elsif  include.gender == "Female" -%}
    Wife
    {%- else -%}
    Spouse
    {%- endif -%}
{%- else -%}
    
{%- endcase -%}